.my-table {
    border-collapse: collapse;
    width: 100%;
    margin-left: 12px;
  }
  
  .my-table th, .my-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .my-table th {
    background-color: #f2f2f2;
  }